:root {
  --black: #000;
  --white: #fff;
  --dark: #333;
  --midgrey: #555;
  --disabled: #aaa;
  --lightgrey: #c1c1c1;
  --mercury: #e1e1e1;
  --chrome: #e9e9e9;
  --green: green;
}

.header {
  display: flex;
  min-height: 10vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  color: var(--white);
}

.header h1 {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

main {
  margin: 10px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #234;
  overflow-x: hidden;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 8px;
  background-color: var(--chrome);
  color: #333;
  border: 1px solid var(--dark);
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--green);
  color: var(--white);
}

form {
  display: block;
  margin: 20px;
  min-width: 450px;
}

.form-group {
  display: inline-block;
  padding: 10px;
}

input[type='text'] {
  width: 200px;
  margin-left: 10px;
  padding: 4px;
  border: 1px solid var(--lightgrey);
  border-radius: 0.25rem;
}

.split {
  margin: 10px;
  width: 50%;
  min-height: 90vh;
  text-align: left;
}

.hidden {
  visibility: hidden;
}

table {
  display: table;
  margin: 10px;
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--chrome);
}

table th,
table td {
  margin: 0;
  padding: 5px;
  background-color: transparent;
  border: 1px solid var(--lightgrey);
}

table th {
  background-color: var(--chrome);
}

.search-form {
  display: block;
}
